@model SacramentPlannerMVC.Models.Meeting

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosingHymnNav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClosingHymnNav.HymnId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conductor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IntermediateHymnNav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IntermediateHymnNav.HymnId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpeningHymnNav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpeningHymnNav.HymnId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SacramentHymnNav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SacramentHymnNav.HymnId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MeetingId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
