@model SacramentPlannerMVC.Models.ViewModels.MeetingDetailView

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conductor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.OpeningHymnNav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.OpeningHymnNav.HymnLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.OpeningPrayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.OpeningPrayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.SacramentHymnNav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.SacramentHymnNav.HymnLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.IntermediateHymnNav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.IntermediateHymnNav.HymnLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.ClosingHymnNav)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.ClosingHymnNav.HymnLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.ClosingPrayer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Meeting.ClosingPrayer)
        </dd>
    </dl>

    <h4>Speakers</h4>
    <dl class="dl-horizontal">
        @foreach (var item in Model.Speakers)
        {
            <dt>@Html.DisplayFor(modelItem => item.Name)</dt>
            <dd>@Html.DisplayFor(modelItem => item.Subject)</dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Meeting.MeetingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
