@model IEnumerable<SacramentPlannerMVC.Models.Meeting>

@{
    ViewData["Title"] = "Meetings";
}

<h2>Meetings</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpeningPrayer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosingPrayer)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Conductor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hymn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conductor.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hymn.HymnID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
